flask[async]==2.2.3
Flask-Caching==2.0.2
python-dotenv==1.0.0
openai==0.27.2
openpyxl==3.1.2
tika==2.6.0
pandas==2.0.3
numpy==1.24.4
googletrans==4.0.0-rc1
translate==3.6.1
deep-translator==1.11.4
waitress==2.1.2
beautifulsoup4==4.12.2
psycopg2==2.9.6
fuzzywuzzy==0.18.0
python-Levenshtein==0.21.1
nltk==3.8.1
spacy==3.6.0