__pycache__/
Include/
Lib/
Scripts/
pyvenv.cfg
share/
.vscode/
examples/
answers.json
skills.json
service_for_proflab/main/test.ipynb
service_for_proflab/main/Output.xlsx
service_for_proflab/main/skills.json
service_for_proflab/main/skills_json.json
service_for_proflab/main/new_skills.json
service_for_proflab/main/linkedin_skills.txt